html
    head
        title Curiosity
        link(rel='stylesheet', href='/css/app.css')

    body
        #app Loading...

        script.
            window.user = !{JSON.stringify(user)}
        script(src='/js/app.js')
