$colors
    light_gray: #999
    lightest_gray: #f7f7f7

$fonts
    default: 15px

$padding
    default: 20px
    large: 40px

*
    margin: 0
    padding: 0

body
    font: $fonts.default/20px 'Helvetica Neue', Helvetica, sans-serif
    background: $colors.lightest_gray

#app
    background: #fff
    padding: $padding.default

h1
    font-size: $fonts.default

// Add Bookmark
// -----------------------------------------------------------------------------

.add-bookmark
    margin: $padding.default 0
    background: $colors.lightest_gray

    input, button
        font: inherit
        background: transparent
        border: none
        outline: none
        padding: 0.5em 1em

// Bookmarks
// -----------------------------------------------------------------------------

.bookmark
    a
        font-weight: 500

    .domain
        color: $colors.light_gray
        margin-left: 0.5em

