$colors
    light_gray: #999
    lightest_gray: #f7f7f7
    red: #931
    blue: #4a90e2

$fonts
    default: 15px

$padding
    tiny: 2px
    smaller: 5px
    small: 10px
    default: 20px
    large: 40px

*
    margin: 0
    padding: 0

body
    font: $fonts.default/20px 'Helvetica Neue', Helvetica, sans-serif
    background: $colors.lightest_gray

#app
    background: #fff
    padding: $padding.default

h1
    font-size: $fonts.default

a
    color: inherit
    cursor: pointer
    text-decoration: none
    &:hover
        text-decoration: underline

input, button
    display: block
    font: inherit
    background: transparent
    border: none
    outline: none

button
    font-weight: 500
    cursor: pointer

.row
    display: flex
    margin: $padding.default -$padding.small

    > *
        flex-grow: 1
        margin: 0 $padding.small

// Add and Search Bookmarks
// -----------------------------------------------------------------------------

.add-bookmark, .search-bookmarks
    background: $colors.lightest_gray
    display: flex

    input, button
        padding: $padding.small 1em

    .input
        position: relative

        input
            width: 100%

        .error
            position: absolute
            right: 0
            top: $padding.small
            color: $colors.red

    > *:first-child
        flex-grow: 1

    button
        flex-grow: 0

// Bookmarks
// -----------------------------------------------------------------------------

.bookmark
    margin-top: $padding.default

    .title
        display: flex
        flex-wrap: wrap

        a
            font-weight: 500

    .details
        display: flex
        flex-wrap: wrap
        margin-top: $padding.smaller

        .tags
            flex-grow: 1

    .summary
        color: $colors.light_gray
        margin-bottom: $padding.small

    .domain
        color: $colors.light_gray
        margin-left: $padding.small

    .actions
        flex-grow: 1
        text-align: right
        display: none

        .delete
            color: $colors.red

    &:hover .actions
        display: block
        margin-left: $padding.small

// Tags
// -----------------------------------------------------------------------------

.tags
    display: inline-block

    .tag
        display: inline-block
        background: $colors.blue
        color: #fff
        border-radius: $padding.tiny
        padding: $padding.tiny $padding.small
        position: relative
        margin-right: $padding.small

        .delete
            display: none
            border-radius: $padding.tiny
            padding: $padding.tiny $padding.small
            margin: -$padding.tiny -$padding.small
            margin-left: $padding.small
            text-align: center
            background: $colors.blue
            text-decoration: none
            &:hover
                background: color($colors.blue shade(10%))

        &:hover .delete
            display: inline-block

.add-tag
    display: inline-block

    input
        display: inline-block
        font: inherit
        background: rgba($colors.blue, 0.5)
        color: #fff
        border: none
        outline: none
        padding: $padding.tiny $padding.small
        width: 5em
        border-radius: $padding.tiny

    ::-webkit-input-placeholder
        color: #fff

